@model RecipeCube.Areas.Admin.ViewModels.RecipeViewModel

<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <h2>@Model.RecipeName 的詳細資料</h2>
        <div class="w-100">
            <dl class="row">
                <!-- 食譜名稱 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.RecipeName)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.RecipeName)
                    </dd>
                </div>

                <!-- 使用者ID -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                </div>

                <!-- 是否自訂 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.IsCustom)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.IsCustom)
                    </dd>
                </div>

                <!-- 葷素 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Restriction)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Restriction)
                    </dd>
                </div>

                <!-- 中西式 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.WestEast)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.WestEast)
                    </dd>
                </div>

                <!-- 種類 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                </div>

                <!-- 種類細項 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.DetailedCategory)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.DetailedCategory)
                    </dd>
                </div>

                <!-- 步驟 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Steps)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Steps)
                    </dd>
                </div>

                <!-- 食材顯示 -->
                <div class="mb-3">
                    <dt class="col-12">
                        食材
                    </dt>
                    <dd class="col-12">
                        <ul>
                            @foreach (var ingredientId in Model.SelectedIngredients)
                            {
                                var ingredient = Model.AvailableIngredients.FirstOrDefault(i => i.IngredientId == ingredientId);
                                if (ingredient != null)
                                {
                                    <li>
                                        @ingredient.IngredientName - 數量: @Model.IngredientQuantities[ingredientId] @ingredient.Unit
                                    </li>
                                }
                            }
                        </ul>
                    </dd>
                </div>
                <!-- 調味料 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Seasoning)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Seasoning)
                    </dd>
                </div>

                <!-- 可見性 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Visibility)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Visibility)
                    </dd>
                </div>

                <!-- 照片 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Photo)
                    </dd>
                </div>

                <!-- 食譜狀態 -->
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </div>

               
            </dl>
            <div class="form-group">
                <a href="javascript:void(0)" class="btn btn-info me-5" id="openeditModal" data-id="@Model.RecipeId">編輯</a>
                <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">返回</a>
            </div>
        </div>
    </div>
</div>
