@model IEnumerable<RecipeCube.Models.Recipe>
@{
    ViewData["Title"] = "食譜檢視";
}

<h1>食譜檢視</h1>

<p class="mt-1">
    <button type="button" class="btn bg-gradient-info text-white" id="openCreateModal">加入新食譜</button>
</p>
<table id="table" class="table table-hover w-100">
    <thead>
        <tr>
            <th>動作</th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th style="text-align: left;">
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailedCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button class="view btn bg-gradient-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#detailsModal" data-id="@item.RecipeId">詳細</button> <br />
                    <button class="edit btn bg-gradient-info btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" data-id="@item.RecipeId">編輯</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td style="text-align: left;">
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailedCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable"> <!-- 加modal-dialog-scrollable -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRecipeLabel">編輯</h5>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-circle-xmark fs-3"></i>
                </button>
            </div>
            <div class="modal-body">
                <!-- 在這裡動態載入編輯的表單 -->
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>


<!-- Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsLabel">詳細資訊</h5>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-circle-xmark fs-3"></i>
                </button>
            </div>
            <div class="modal-body">
                <!-- 動態載入詳細資訊 -->
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createLabel">新增食譜</h5>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-circle-xmark fs-3"></i>
                </button>
            </div>
            <div class="modal-body">
                <!-- 動態載入 CreatePartial 表單 -->
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>