@model RecipeCube.Models.RecipeIngredient
@{
    ViewData["Title"] = "Details";
}
<!-- 這裡改成你的model -->

<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <dl class="row">
                <div class="mb-3">
                    <dt class="col-12">
                        <!-- 第一個dt內的內容 -->
                        @Html.DisplayNameFor(model => model.RecipeId)
                    </dt>
                    <dd class="col-12">
                        <!-- 第一個dd內的內容 -->
                        @Html.DisplayFor(model => model.RecipeId)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        <!-- 第二個dt內的內容 -->
                        @Html.DisplayNameFor(model => model.IngredientId)
                    </dt>
                    <dd class="col-12">
                        <!-- 第二個dt內的內容 -->
                        @Html.DisplayFor(model => model.IngredientId)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        <!-- 第二個dt內的內容 -->
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col-12">
                        <!-- 第二個dt內的內容 -->
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                </div>
                <!-- 以此類推，基本上就是用"mb-3"的div來包dt,dd，然後讓他們滿12col換行 -->
            </dl>
            <!-- IngredientId改成你的主鍵 -->
            <div class="d-flex justify-content-center">
                    <a href="javascript:void(0)" class="btn btn-info me-5" id="openeditModal" data-id="@Model.RecipeId">編輯</a>
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">返回</a>
            </div>
        </div>
    </div>
</div>