@model RecipeCube.Areas.Admin.ViewModels.RecipeIngredientViewModel
<!-- 這裡改成你的model -->
<!-- IngredientId一樣可以先取代成你的主鍵了 -->

<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="editForm" asp-action="Edit" asp-route-id="@Model.RecipeIngredientId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RecipeIngredientId" />
                <!-- 這裡貼你edit裡的內容，從一樣從第一個formGroup類別開始到倒數第二個formGroup為止 -->
@*              <div class="form-group">
                    <label asp-for="RecipeId" class="control-label"></label>
                    <input asp-for="RecipeId" class="form-control" />
                    <span asp-validation-for="RecipeId" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="RecipeId" class="control-label">選擇食譜</label>
                    <select asp-for="RecipeId" class="form-control select2" id="selectedRecipe">
                        @foreach (var recipe in ViewBag.Recipes)
                        {
                            if (recipe.RecipeId == Model.RecipeId)
                            {
                                <option value="@recipe.RecipeId" selected>@recipe.RecipeId - @recipe.RecipeName</option>
                            }
                            else
                            {
                                <option value="@recipe.RecipeId">@recipe.RecipeId - @recipe.RecipeName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="RecipeId" class="text-danger"></span>
                </div>

@*                 <div class="form-group">
                    <label asp-for="IngredientId" class="control-label"></label>
                    <input asp-for="IngredientId" class="form-control" />
                    <span asp-validation-for="IngredientId" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="IngredientId" class="control-label">選擇食材</label>
                    <select asp-for="IngredientId" class="form-control select2" id="selectedIngredient">
                        @foreach (var ingredient in ViewBag.Ingredients)
                        {
                            if (ingredient.IngredientId == Model.IngredientId)
                            {
                                <option value="@ingredient.IngredientId" selected>@ingredient.IngredientId - @ingredient.IngredientName</option>
                            }
                            else
                            {
                                <option value="@ingredient.IngredientId">@ingredient.IngredientId - @ingredient.IngredientName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IngredientId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Quantity" class="form-control" />
                        <div class="input-group-append">
                            <span class="input-group-text">@Model.Unit</span> <!-- 顯示單位 -->
                        </div>
                    </div>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-center">
                    <input type="submit" value="儲存" class="btn btn-info mx-3" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse('#editForm');
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}