@model RecipeCube.Areas.Admin.ViewModels.IngredientViewModel


<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <dl class="row">
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.IngredientName)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.IngredientName)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Synonym)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Synonym)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.ExpireDay)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.ExpireDay)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Unit)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Unit)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Gram)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Gram)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Photo)
                    </dd>
                </div>
            </dl>
            <div class="d-flex justify-content-center">
                <form asp-action="Delete" id="deleteForm" asp-route-id="@Model.IngredientId" method="post">
                    <input type="hidden" asp-for="IngredientId" />
                    <input type="submit" class="btn btn-danger mx-3" id="" data-id="@Model.IngredientId" value="刪除" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </form>
            </div>
        </div>
    </div>
</div>