@model RecipeCube.Models.PantryManagement

@{
    ViewData["Title"] = "庫存異動細節";
}

<h1>細節</h1>

<div>
    <h4>庫存異動</h4>
    <hr />
    <div class="row">
        <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
            <dl>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GroupId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GroupId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IngredientId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IngredientId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Action)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Action)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Time)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Time)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.IngredientId" class="btn btn-primary">編輯</a>
                <a asp-action="Index" class="btn btn-secondary">回到列表</a>
            </div>
        </div>
    </div>
</div>