@model RecipeCube.Areas.Admin.ViewModels.ProductViewModel


<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <dl class="row">
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>
                </div>
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.IngredientId)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.IngredientId)
                    </dd>
                </div>
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                </div>
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Stock)
                    </dd>
                </div>
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.UnitQuantity)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.UnitQuantity)
                    </dd>
                </div>
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </div>
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-12">
                        <span class="badge @(Model.Status == true ? "bg-success" : Model.Status == false ? "bg-danger" : "bg-secondary")">
                            @(Model.Status == true ? "正常供貨" : Model.Status == false ? "停售" : "未知")
                        </span>
                    </dd>
                </div>
                <div mb-3>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>
                    <dd>
                        @await Html.PartialAsync("_ShowPhotoPartial", Model)
                    </dd>
                </div>
            </dl>
            <div>
                <a href="javascript:void(0)" class="btn btn-info me-3" id="openeditModal" data-id="@Model.ProductId">編輯</a>
                <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
            </div>
        </div>
    </div>
</div>