@model IEnumerable<RecipeCube.Models.OrderItem>

@section Styles {
    <style>
        .table th, .table td {
            text-align: center !important; /* 強制所有表格內容置中 */
        }
    </style>
}

@{
    ViewData["Title"] = "訂單明細";
    long orderid = ViewBag.OrderId;
        <text>Order ID: @orderid</text>
}

<h1>訂單明細檢視</h1>


<p class="mt-1">
    <button type="button" class="create btn bg-gradient-info">加入新細項</button>
</p>
<div class="card-body">
    <table id="table" class="table table-hover w-100">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <button class="edit btn bg-gradient-info btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" data-id="@item.OrderItemId">編輯</button>
                        <button class="delete btn bg-gradient-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.OrderItemId">刪除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRecipeLabel">編輯</h5>
                <i class="fa-solid fa-circle-xmark fs-3" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

<!-- Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsLabel">詳細資訊</h5>
                <i class="fa-solid fa-circle-xmark fs-3" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createLabel">新增食材</h5>
                <i class="fa-solid fa-circle-xmark fs-3" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createLabel">刪除訂單細項</h5>
                <i class="fa-solid fa-circle-xmark fs-3" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>



    <script>
     
    // $(document).ready(function () {
    //     var orderid = @Html.Raw(orderid);
    //     console.log(orderid);

    //     if (orderid != 0) {
    //         setTimeout(function () {
    //             var searchInput = $('.form-control.form-control-sm');
    //             if (searchInput.length > 0) {
    //                 searchInput.val(orderid);

    //               searchInput.trigger('input');

                    
    //                 console.log("填入成功");
    //             } else {
    //                 console.log("找不到搜索欄位");
    //             }
    //         }, 50);  // 延遲50毫秒
    //     }
    // });
    $(document).ready(function () {
        var orderid = @Html.Raw(orderid);
        

        if (orderid != 0) {
            setTimeout(function () {
                var searchInput = $('.form-control.form-control-sm');
                if (searchInput.length > 0) {
                    searchInput.val(orderid);
                    console.log(orderid); //查看是否填入
                    setTimeout(function () {
                        searchInput.trigger('change');
                        console.log("觸發 change 事件");
                        console.log("目前的值：", searchInput.val()); // 確認當前值
                    }, 1000);
                } else {
                    console.log("找不到搜索欄位");
                }
            }, 80);  // 延遲50毫秒
        }
    });
   
    </script>
    