@model IEnumerable<RecipeCube.Models.OrderItem>

@section Styles {
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
    <style>

    </style>
}

@{
    ViewData["Title"] = "訂單明細";
}

<h1>訂單明細</h1>

<p>
    <a asp-action="Create" class="btn bg-gradient-info" role="button">加入新細項</a>
</p>
<div class="card-body">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>
@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(".sidenav .nav-item a").removeClass("active");
        $("#order_item a").addClass("active");

        @* 套用datatabes套件 *@
            new DataTable("table", {
                language: {
                    url: "//cdn.datatables.net/plug-ins/2.1.6/i18n/zh-HANT.json",
                    paginate: {
                        first: "«",   // 保持圖示化
                        previous: "‹", // 保持圖示化
                        next: "›",    // 保持圖示化
                        last: "»"     // 保持圖示化
                    },
                }
            })
    </script>
}