@model IEnumerable<RecipeCube.Areas.Admin.ViewModels.ExclusiveFoodViewModel>

@{
    ViewData["Title"] = "不可食用食材";
}

<h1>不可食用食材</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IngredientId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IngredientId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ExclusiveIngredientId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ExclusiveIngredientId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ExclusiveIngredientId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
