@model IEnumerable<RecipeCube.Areas.Admin.ViewModels.GroupVIewModel>

@{
    ViewData["Title"] = "群組";
}

<h1>群組</h1>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupInvite)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupInvite)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GroupId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GroupId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GroupId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>