@model RecipeCube.Areas.Admin.ViewModels.InventoryViewModel


<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <dl class="row">
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.GroupName)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.GroupName)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.IngredientName)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.IngredientName)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.IngredientUnit)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.IngredientUnit)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.ExpiryDate)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.ExpiryDate)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.IsExpiringStr)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.IsExpiringStr)
                    </dd>
                </div>
                <div class="mb-3">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.VisibilityStr)
                    </dt>
                    <dd class="col-12">
                        <span class="badge @(Model.Visibility == true ? "bg-success" : Model.Visibility == false ? "bg-danger" : "bg-secondary")">
                            @(Model.Visibility == true ? "群組" : "個人")
                        </span>
                    </dd>
                </div>
            </dl>
            <div class="d-flex justify-content-center">
                <a href="javascript:void(0)" class="btn btn-info me-3" id="openeditModal" data-id="@Model.InventoryId">編輯</a>
                <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
            </div>
        </div>
    </div>
</div>



